[submodule "src/aind_behavior_vr_foraging/curricula/aind.Behavior.VrForaging.Curricula"]
	path = src/aind_behavior_vr_foraging/curricula/aind.Behavior.VrForaging.Curricula
	url = https://github.com/AllenNeuralDynamics/Aind.Behavior.VrForaging.Curricula
[submodule "src/platforms/FIP_DAQ_Control"]
	path = src/platforms/FIP_DAQ_Control
	url = https://github.com/AllenNeuralDynamics/FIP_DAQ_Control.git
