name: Deploy Sphinx documentation to Pages

on:
  workflow_dispatch:
  push:
    branches: [main]

jobs:
  pages:
    runs-on: ubuntu-latest
    steps:
    - name: Setup Graphviz
      uses: ts-graphviz/setup-graphviz@v2.0.2
    - id: deployment
      uses: sphinx-notes/pages@v3
      with:
        publish: false
        python_version: 3.11
        checkout: true
    - uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ${{ steps.deployment.outputs.artifact }}
        force_orphan: true